---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Small description about me."
	pubDate={new Date("July 08 2023")}
	updatedDate={new Date("July 08 2023")}
	heroImage="/placeholder-about.png"
	tags={["about", "me"]}
>
	<p>
		Interested in: <br />
		- Web: platform, accessability, performace, security, standards, APIs <br />
		- Tooling: build tools (Bazel), testing, CI/CD, automation <br />
	</p>
</Layout>
