---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<div>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog" rel="prefetch">Blog</HeaderLink>
			<HeaderLink href="/tags">Tags</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div>
			<HeaderLink href="https://twitter.com/katsickk" target="_blank">
				Twitter
			</HeaderLink>
			<HeaderLink href="https://github.com/katsick" target="_blank">
				GitHub
			</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
	nav {
		display: flex;
		justify-content: space-between;
	}
</style>
